<html>

<head>
  <link rel="stylesheet" type="text/css" href="../resources/css/bulksignup.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css"
    integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
</head>

<body>
  <!-- Upload  -->
  <div class="container">
    <div class="form-group">
      <input type="file" name="img[]" class="file">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1"><i class="fas fa-paperclip"></i></span>
        </div>
        <input type="text" class="form-control" disabled placeholder="Upload File" aria-label="Upload File"
          aria-describedby="basic-addon1">
        <div class="input-group-append">
          <button class="browse input-group-text btn btn-primary" id="basic-addon2"><i class="fas fa-search"></i>
            Browse</button>
        </div>
      </div>
    </div>
  </div>
</body>

</html>