<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../resources/css/mayor.css">
    <title>Mayor Dashboard</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="#">Home</a>
                <a class="nav-item nav-link" href="#">About us</a>
                <a class="nav-item nav-link active" href="#">Form</a>
                <a class="nav-item nav-link" href="../templates/login.html">Login</a>
            </div>
        </div>
    </nav>
    <div class="wrap" style="background-color:#e9e9e9;">

        <section class="content">

            <input type="radio" name="view-filter" id="list-view" class="list-view-radio view-radio" checked><label
                for="list-view"><i class="fa fa-list-ul"></i> List View</label>

            <input type="radio" name="view-filter" id="grid-view" class="grid-view-radio view-radio"><label
                for="grid-view"><i class="fa fa-th"></i> Grid View</label>

            <div class="content-container">

                <article class="block-item">
                    <img src="http://www.placecage.com/g/300/300">
                    <div class="entry-content">
                        <h1 class="entry-title">Entry One</h1>
                        <p>This is my short description text for this item.</p>
                    </div>
                </article>

                <article class="block-item">
                    <img src="http://www.placecage.com/g/300/300">
                    <div class="entry-content">
                        <h1 class="entry-title">Entry Two</h1>
                        <p>This is my short description text for this item.</p>
                    </div>
                </article>

                <article class="block-item">
                    <img src="http://www.placecage.com/g/300/300">
                    <div class="entry-content">
                        <h1 class="entry-title">Entry Three</h1>
                        <p>This is my short description text for this item.</p>
                    </div>
                </article>

                <article class="block-item">
                    <img src="http://www.placecage.com/g/300/300">
                    <div class="entry-content">
                        <h1 class="entry-title">Entry Four</h1>
                        <p>This is my short description text for this item.</p>
                    </div>
                </article>

                <article class="block-item">
                    <img src="http://www.placecage.com/g/300/300">
                    <div class="entry-content">
                        <h1 class="entry-title">Entry Five</h1>
                        <p>This is my short description text for this item.</p>
                    </div>
                </article>

                <article class="block-item">
                    <img src="http://www.placecage.com/g/300/300">
                    <div class="entry-content">
                        <h1 class="entry-title">Entry Six</h1>
                        <p>This is my short description text for this item.</p>
                    </div>
                </article>

                <article class="block-item">
                    <img src="http://www.placecage.com/g/300/300">
                    <div class="entry-content">
                        <h1 class="entry-title">Entry Seven</h1>
                        <p>This is my short description text for this item.</p>
                    </div>
                </article>

                <article class="block-item">
                    <img src="http://www.placecage.com/g/300/300">
                    <div class="entry-content">
                        <h1 class="entry-title">Entry Eight</h1>
                        <p>This is my short description text for this item.</p>
                    </div>
                </article>

                <article class="block-item">
                    <img src="http://www.placecage.com/g/300/300">
                    <div class="entry-content">
                        <h1 class="entry-title">Entry Nine</h1>
                        <p>This is my short description text for this item.</p>
                    </div>
                </article>
            </div>

        </section>

        <!-- End Your Code -->
    </div><!-- .wrap -->
</body>

</html>