<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Login</title>
    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- Main Style Css -->
    <link rel="stylesheet" href="../resources/css/loginsignup.css" />

</head>

<body class="form-v10">
    <div class="formDiv">
        <h1 class="title">Sign In</h1>
        <form action="login.html">
            <div class="input-group">
                <i class="fas fa-user"></i>
                <input type="text" placeholder="Username">
            </div>
            <div class="input-group">
                <i class="fas fa-lock"></i>
                <input type="password" placeholder="Password">
            </div>
            <button type="submit" class="btn">Sign In</button>

        </form>
    </div>
    <script src="https://kit.fontawesome.com/4077c6ef6a.js" crossorigin="anonymous"></script>

</body>

</html>