<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="../static/css/wc.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">Feed Me</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="/profile">My Profile</a>
                <a class="nav-item nav-link" href="/">About us</a>
                <a class="nav-item nav-link active" href="/wc/{{ward}}">My Ward</a>
                <a class="nav-item nav-link" href="/logout">Log out</a>
            </div>
        </div>
    </nav>

    <div class="container">
        {% for res in res%}
        <div class="movie-card">


            <a href="/graph/{{res}}/{{ward}}">
                <div class="movie-header"
                    style="background-image: url('../static/images/ward.jpg');background-size: cover;background-repeat: no-repeat;background-position: center center;">
                </div>
            </a>


            <!--movie-header-->

            <div class="movie-content">
                <div class="movie-content-header">
                    <a href="#">
                        <h3 class="movie-title">{{res}}</h3>
                    </a>

                </div>
                <div class="movie-info">
                    <div class="info-section">
                        <label>Date</label>
                        <span>{{date[loop.index-1]}}</span>
                    </div>
                    <!--date,time-->
                    <div class="info-section">
                        <label>Total</label>
                        <span>{{count}}</span>
                    </div>
                    <!--screen-->

                </div>
            </div>
            <!--movie-content-->
        </div>
        <!--movie-card-->
        {% endfor %}


    </div>
    <!--container-->
</body>

</html>