<html>

<head>
    <link rel="stylesheet" type="text/css" href="../resources/css/wc.css">
</head>

<body>
    <div class="container">


        <div class="movie-card">
            <div class="movie-header" style="background-image: url('../resources/images/signin-image.jpg');">
                <div class="header-icon-container">
                    <a href="#">
                        <i class="material-icons header-icon">&#xE037;</i>
                    </a>
                </div>
            </div>
            <!--movie-header-->
            <div class="movie-content">
                <div class="movie-content-header">
                    <a href="#">
                        <h3 class="movie-title">March</h3>
                    </a>
                    <div class="imax-logo"></div>
                </div>
                <div class="movie-info">
                    <div class="info-section">
                        <label>Date &amp; Time</label>
                        <span>Sun 8 March</span>
                    </div>
                    <!--date,time-->
                    <div class="info-section">
                        <label>Total</label>
                        <span>23</span>
                    </div>
                    <!--screen-->

                </div>
            </div>
            <!--movie-content-->
        </div>
        <!--movie-card-->

        <div class="movie-card">
            <div class="movie-header babyDriver">
                <div class="header-icon-container">
                    <a href="#">
                        <i class="material-icons header-icon">&#xE037;</i>
                    </a>
                </div>
            </div>
            <!--movie-header-->
            <div class="movie-content">
                <div class="movie-content-header">
                    <a href="#">
                        <h3 class="movie-title">January</h3>
                    </a>
                    <div class="imax-logo"></div>
                </div>
                <div class="movie-info">
                    <div class="info-section">
                        <label>Date &amp; Time</label>
                        <span>Tue 4 January</span>
                    </div>
                    <!--date,time-->
                    <div class="info-section">
                        <label>Total</label>
                        <span>32</span>
                    </div>


                </div>
            </div>

        </div>
        <!--movie-card-->

        <div class="movie-card">
            <div class="movie-header theDarkTower">
                <div class="header-icon-container">
                    <a href="#">
                        <i class="material-icons header-icon">&#xE037;</i>
                    </a>
                </div>
            </div>
            <!--movie-header-->
            <div class="movie-content">
                <div class="movie-content-header">
                    <a href="#">
                        <h3 class="movie-title">February</h3>
                    </a>
                    <div class="imax-logo"></div>
                </div>
                <div class="movie-info">
                    <div class="info-section">
                        <label>Date &amp; Time</label>
                        <span>Wed 16 February</span>
                    </div>
                    <!--date,time-->
                    <div class="info-section">
                        <label>Total</label>
                        <span>32</span>
                    </div>
                </div>
            </div>
            <!--movie-content-->
        </div>
        <!--movie-card-->

        <div class="movie-card">
            <div class="movie-header bladeRunner2049">
                <div class="header-icon-container">
                    <a href="#">
                        <i class="material-icons header-icon">&#xE037;</i>
                    </a>
                </div>
            </div>
            <!--movie-header-->
            <div class="movie-content">
                <div class="movie-content-header">
                    <a href="#">
                        <h3 class="movie-title">April</h3>
                    </a>
                    <div class="imax-logo"></div>
                </div>
                <div class="movie-info">
                    <div class="info-section">
                        <label>Date &amp; Time</label>
                        <span>Mon 16 April</span>
                    </div>
                    <!--date,time-->
                    <div class="info-section">
                        <label>Total</label>
                        <span>32</span>
                    </div>

                </div>
            </div>

        </div>


    </div>
    <!--container-->
</body>

</html>